@media screen and (max-width: 1320px){
	// body{
	// 	background-color: red;
	// }
	.inner-intro{
		h1{
			&:after{
				left: 41%;
			}
		}
	}
	.section-2{
		.container{
			padding-top: 70px;
			padding-bottom: 203px;
			min-height: inherit;
		}
	}
	.section-3{		
		.container{
			padding-left: 8%;
			padding-right: 8%;
			top: -203px;
		}
		margin-bottom: -203px;
	}
	.section-3b{
		.container{
			padding-left: 8%;
			padding-right: 8%;
		}
	}
	.banner-2{
		height: 450px;
	}
	.slider-parallax-container{
		&, .slider-parallax{
			height: 810px;
		}
	}
	.inner-banner{
		background-position: center -83px;
	}
}//1300
@media screen and (max-width: 1160px){
	// body{
	// 	background-color: blue;
	// }
	h2{
		&:after{
			left: 44.4%;
		}
	}
	.desktop-menu{
		display: none;
	}
	.logo{
		height: 47px;
	}
	.on-scrolled{
		.menu-button{
			&:before{
				top: 14px;
			}
			&:after{
				top: 25px;
			}
			&.show{
				&:before{
					top: 30px;
				}
			}
		}	
	}
	.responsive-menu{
		display: block;
	}
	.responsive{
		display: block;
	}
	.logo{
		img{
			&:nth-of-type(1){
				left: 35%;
			}
			&:nth-of-type(2){
				left: 48.2%;
			}
		}
	}
	header{
		height: 90px;
	}
	.menu-button{
		&:before{
			top: 25px;
		}
		&:after{
			top: 36px;
		}
	}
	.section-3, .section-3b{
		.col-2{
			min-height: 300px;
			&:last-child{
				padding: 20px 45px;	
			}
		}
	}
	.banner-2{
		height: 380px;
	}
	.inner-banner{
		min-height: inherit;
		height: 640px;
		margin-bottom: 0;
	}
	.slider-parallax-container{
		&, .slider-parallax{
			height: 710px;
		}
	}
	.parallax{
		background-attachment: inherit;
		background-position: center center!important;
	}
	blockquote{
		font-size: 27px;
	}
	.two-third{
		padding-right: 7%;
	}
	h1{
		&:after{
			left: 40%;
		}
	}
}//1160
@media screen and (max-width: 950px){
	// body{
	// 	background-color: yellow;
	// }
	.logo{
		img{
			&:nth-of-type(1){
				left: 31%;
			}
			&:nth-of-type(2){
				left: 48%;
			}
		}
	}
	.home-banner{
		h1{
			width: 250px;
			margin: auto;
			padding-bottom: 3px;
			span{
				border-bottom: none;
			}
			border-bottom: 2px solid;
		}
	}
	.section-2{
		.container{
			padding-top: 45px;
		}
	}
	.common-section{
		.container{
			p{
				width: 80%;
			}
		}
	}
	.section-3, .section-3b{
		.col-2{
			min-height: 244px;
			&:last-child{
				padding: 20px 35px;
			}
		}
	}
	blockquote{
		font-size: 24px;
	}
	.banner-2{
		height: 300px;
	}
	h2{
		&:after{
			left: 42.4%;
		}
	}
	.inner-banner{
		height: 525px;
	}
	.home-intro{
		h1{
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.slider-parallax-container{
		&, .slider-parallax{
			height: 610px;
		}
	}
}//950
@media screen and (max-width: 782px){
	body.customize-support{
		.header-fixed{
			top: 45px;
		}
	}	
}//782 wp admin menu

@media screen and (max-width: 780px){
	// body{
	// 	background-color: green;
	// }
	.logo{
		img{
			&:nth-of-type(1){
				left: 28%;
			}
			&:nth-of-type(2){
				left: 47.5%;
			}
		}
	}
	h2{
		font-size: 42px;
		&:after{
			left: 40.4%;
		}
	}
	.section-2{
		.container{
			padding-bottom: 45px;
		}
	}
	.section-3, .section-3b{
		margin-bottom: 0;
		.container{
			top: 0;
		}
		background-color: lighten($creme, 15%);
		.col-2{
			float: none;
			width: 100%;
			&.table{
				width: 100%;
			}
			&:last-child{
				left: 0;
			}
		}
	}
	.common-section{
		padding: 0;
	}
	.section-2{
		background-color: lighten($creme, 15%);
		.container{
			padding-bottom: 0;
			padding-top: 0;
		}
	}
	.common-section{
		padding-top: 8%;
		padding-bottom: 8%;
	}
	.banner-2{
		height: 230px;
	}
	.banner-3{
		height: 400px;
	}
	.banner-4{
		height: 400px;
	}
	.sub-footer{
		height: 500px;
	}
	footer{
		text-align: center;
		.col-2{
			width: auto;
			margin-left: auto;
			margin-right: auto;
			float: none;
			display: inline-block;
			ul{
				margin: 0 auto;
			}
			&:last-child{
				margin-top: 15px;
				text-align: center;
				ul{
					float: none;
				}
			}
		}

	}
	blockquote{
		font-size: 29px;
	}
	.inner-banner{
		height: 405px;
	}
	.white-bg-2{
		background-color: white;
	}
	.inner-intro{
		h1{
			&:after{
				left: 38%;
			}
		}
	}
	.department{
		&:after{
			left: 39%;
		}
	}
	.slider-parallax-container{
		&, .slider-parallax{
			height: 410px;
			h1{
				padding-top: 12%;
			}
		}
	}
	.two-third{
		width: 100%;
		margin-bottom: 40px;
		padding-right: 0;
	}
	.one-third{
		width: 100%;
		text-align: center;
	}
	.scroll-down-wrapper{
		left: 46%;
	}
	h1{
		&:after{
			left: 29%;
		}
	}
	.team{
		.col-2{
			margin-bottom: 15%;		
		}
	}
	.section-4{
		.container{
			padding-left: 5%;
			padding-top: 8%;
			padding-right: 5%;
			padding-bottom: 8%;
		}
		.col-2{
			width: 100%;
			&:nth-of-type(2n+2){
				margin-left: 0;
			}
			&:nth-last-of-type(2){
				margin-bottom: 30px;
			}
		}
	}
	.customize-support{
		header.fixed{
			top: 46px;	
		}
	}
	.show-loader{
		&:before{
			width: 50px;
			height: 50px;
			top: 45%;
			left: 44%;
		}
	}
}//780
@media screen and (max-width: 600px){
	// body{
	// 	background-color: pink;
	// }
	.logo{
		height: 36px;
		img{
			&:nth-of-type(1){
				left: 18%;
				max-width: 230px;
			}
			&:nth-of-type(2){
				left: 46.5%;
			}
		}
	}
	.slider-parallax-container{
		&, .slider-parallax{
			height: 280px;
			h1{
				font-size: 26px;
				max-width: 200px;
			}
		}
	}
	.menu-button{
		width: 106px;
		top: -9px;
	}
	h2{
		letter-spacing: 7px;
		&:after{
			left: 37.4%;
		}
	}
	.on-scrolled{
		.logo{
			img{
				&:nth-of-type(2){
					top: 8px;
				}
			}
		}
		.menu-button{
			top: -1px;
		}
	}
	.banner-2{
		height: 170px;
	}
	.banner-3, .banner-4{
		height: 205px;
	}
	.sub-footer{
		height: 447px;
	}
	.common-section{
		padding-top: 12%;
		padding-bottom: 12%;
	}
	.section-3, .section-3b{
		// padding-bottom: 12%;
	}
	.inner-banner{
		height: 275px;
	}
	header{
		height: 60px;
	}
	.inner-intro{
		h1{
			font-size: 40px;
			.inner-intro{
				&:after{
					left: 36%;
				}
			}
		}	
	}
	.responsive-menu{
		a{
			font-size: 22px;
		}
	}
	.scroll-down-wrapper {
	    left: 43.1%;
	}
	h1{
		&:after{
			left: 8%;
			width: 156px;
			bottom: -7px;
			height: 2px;
		}
	}
	.customize-support{
		header.fixed{
			top: 0;	
		}
	}
}//600
@media screen and (max-width: 400px){
	// body{
	// 	background-color: brown;
	// }
	.inner-intro{
		h1{
			font-size: 25px;
			letter-spacing: 5px;
			word-spacing: inherit;
			&:after{
				left: 33%;
			}
		}
	}
	.logo{
		img{
			&:nth-of-type(1){
				max-width: 190px;
				left: 2%;	
			}
		}
	}
	header{
		height: 43px;
	}
	.menu-button{
		width: 82px;
		top: -16px;
		right: 10px;
		&:before,
		&:after{
			left: 63%;
		}
		&.show{
			&:after{
				left: 66%;
			}
		}
	}
	.logo{
		height: 30px;
	}
	h2{
		letter-spacing: 2px;
		font-size: 35px;
		-ms-overflow-y: scroll;
		    overflow-y: scroll;
		&:after{
			left: 32.4%;
		}
	}
	.section-3, .section-3b{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		.col-2{
			min-height: 150px;
			&:last-child{
				padding: 35px;
			}
		}
	}
	.banner-2{
		height: 120px;
	}
	.talk{
		a{
			font-size: 32px;
		}
		.fa{
			&:after{
				top: 15px;
				height: 3px;
			}
		}
	}
	footer{
		font-size: 9px;
	}
	.on-scrolled{
		.logo{
			img{
				&:nth-of-type(2){
					top: 3px;
				}
			}
		}
	}
	.inner-banner{
		height: 190px;
	}
	.department{
		&:after{
			left: 34%;
		}
	}
	.downloads{
		a{
			font-size: 14px;
		}
	}
	body{
		-ms-overflow-x: hidden;
		    overflow-x: hidden;
	}
	.slider-parallax-container{
		&, .slider-parallax{
			height: 195px;
		}
	}
	.contact li:not(:first-child){
		font-size: 14px;
	}
	.scroll-down-wrapper {
	    left: 42.1%;
	}
}//400
